.LaunchAnimation {
  border: 1px solid black;
  min-width: 500px;
  min-height: 500px;
  width: 100%;
  background: #eaeaea;
  position: relative;
}

.LaunchAnimation .animation-window {
  width: 500px;
  height: 500px;
}

.LaunchAnimation .rocket-icon {
  transform: scale(0.1);
}
