/*Created File*/
.RocketLaunchContent .input-fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.RocketLaunchContent .button-row {
  
  padding-top: 15px;
}


.RocketLaunchContent .MuiTextField-root {
  margin-top: 10px;
}

.RocketLaunchContent .Login .Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
};
